<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="shortcut icon" id="favicon" href="/images/favicon.svg">

  <script src="https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js"></script>
  <!-- TailAdmin / Tailwind CSS -->
  <link href="/css/main.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <div class="flex h-screen">
    
      <!-- Sidebar -->
      <include src="layouts/dashboard/sidebar.html"></include>

      <!-- Main content -->
      <div class="flex-1">

        <!-- Header -->
        <include src="layouts/dashboard/header.html"></include>

        <main>
          <%- include(content) %>
          <include src="layouts/dashboard/scripts.html"></include>
        </main>

      </div>
  </div>

  
  <include src="layouts/dashboard/scripts.html"></include>

  <!-- JS -->
  <script src="/js/app.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
</body>

</html>
